body{
	max-width: 1000px;
	margin: 0 auto;
}
.title{
	display: none;
}
.menu{
	min-height: 40px;
	display: flex;
	justify-content: stretch;
}
.men-btn{
	width: 100%;
	min-height: 20px;
	margin: 0;
	border: 0 solid #3dd5f7;
	background-color: #9ab5d7;
	font-size: 1.2em;
}
.men-btn:nth-child(n+2){
	border-left-width: 2px;
}
.ap tr, .peer tr{
	background-color: #fff;
}
.ap tr:nth-child(2n+2), .peer tr:nth-child(2n+2) {
  background-color: #f4f4f4;
}
.men-btn:hover, .btn_s:hover, .f_b:hover, .btn_a:hover, .ap tr.hov:hover, .hov:hover{
	background-color: #3dd5f7;
	cursor: pointer;
}
.main{
	min-height: 60vh;
	padding-bottom: 1.2em;
	background-color: #84e1eb;
}
.title_s{
	display: flex;
	padding-top: 1.2em;
	flex-direction: column;
	flex-wrap: wrap;
}
.txt_s{
	font-size: 1.6em;
	margin: 0 auto;
}
.btn_s, .t_s{
	border: 1px solid #555;
	border-radius: 0.5em;
}
.btn_s{
	display: block;
	margin: 1.2em auto 0;
	padding: 0.5em 1em;
	font-size: 1.2em;
	background-color: #9ab5d7;
}
.in_s{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.nx {
	display: inline-block;
	margin: 1.2em auto 0 1em;
}
.pr {
	display: inline-block;
	margin: 1.2em 1em 0 auto;
}
.form_l{
	width: 90%;
	margin: 2em auto 0;
  padding: 1em 0;
	border: 3px solid #1fa2bf;
}
.form_k{
	display: flex;
	justify-content: center;
	align-items: baseline;
	flex-wrap: wrap;
}
.form_k:nth-child(n+2){
	margin-top: 0.2em;
}
.f_s{
	width: 35%;
	text-align: right;
	padding-right: 0.5em;
}
.f_i{
	width: 55%;
	padding:  2px 5px;
}
.d_i{
	display: flex;
	width: 55%;
}
.f_d{
	width: 70%;
	padding: 2px 5px;
	border-right-width: 0;
	border-radius: 0.5em 0 0 0.5em;
}
.f_v{
	width: 40%;
	text-align: left;
}
.f_b{
	width: 30%;
	border-radius: 0 0.5em 0.5em 0;
	background-color: #9ab5d7;
}
.f_s, .f_i, .f_d, .f_b, .btn_a{
	font-size: 1.1em;
	box-sizing: border-box;
}
.ul{
	display: none;
}
.f_er{
	margin-bottom: 10px;
	color: red;
}
.act{
	background-color: #3dd5f7;
}

.chb{
  display: none;
}
.ch{
  color: #242424;
  cursor: pointer;
}
.ch:before{
  content: "";
  color: #ccc;
  display: inline-block;
  margin-right: 0.3em;
  position: relative;
  text-align: center;
  background: #e5e5e5;
  border: 1px solid #242424;
  border-image: initial;
  border-radius: 0.15em;
  width: 1em;
  height: 1em;
  vertical-align: bottom;
}
.chb:checked + .ch:before {
  content: "\2713";
  color: #f6f6f6;
  background: #aaa;
  line-height: 0.95em;
}
.btn_a{
	margin: 1em auto 0;
	padding: 0.15em 3em;
  background-color: #9ab5d7;
}

.nv{
	width: 60%;
}
.ev{
	width: 90%;
	margin: 0 auto;
	text-align: center;
	font-size: 1.1em;
	box-sizing: border-box;
}
.ovrl{
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0, 0, 0.5);
  overflow: auto;
  display: none;
}
.pop{
	position: absolute;
  top: 3.5em;
  left: 0;
  right: 0;
  margin: auto;
  width: 90%;
  max-width: 700px;
  min-height: 50px;
  max-height: 82%;
  overflow: auto;
  padding: 15px 5px;
  border: 1px solid #383838;
  background: #fefefe;
  z-index: 1001;
  -webkit-border-radius: 4px;
  box-shadow: 0 15px 20px rgb(0 0 0 / 22%), 0 19px 60px rgb(0 0 0 / 30%);
}
.fiel{
	min-height: 5em;
  border: 0.1px solid;
  padding: 0.5em 0.2em 1em;
  text-align: left;
}
.lgndf{
	margin-left: 0.5em;
}
.ap, .peer{
	width: 100%;
	border-collapse: collapse;
}
.ap th, .peer th{
	text-align: center;
  padding: 0.05em;
  color: #fff;
  background: #034e6c;
}
.ap td, .ap, .peer td, .peer{
	border:1px solid #034e6c;
}
/* .ap td., .ap th, .peer td, .peer th{
	font-size: 0.55em;
} */
.peer {
	width: 90%;
	margin: 0 auto;
}
.hov{
	text-align: center;
	background-color: #9ab5d7;
}
.t_pl{
	display: flex;
	min-height: 50px;
	margin: 0 1em;
}
.cnt_t{
	width: 30%;
	max-height: 80vh;
    overflow: auto;
}
.cnf_t{
	width: 80%;
	padding: 1em 0;
}
.cnt_t, .cnf_t{
	background-color: #f4f4f4;
	border: 2px inset #efefef;
}
.txt_t{
	display: block;
	width: max-content;
	margin: 0 auto 0.4em;
	font-size: 1.3em;
	font-weight: 700;
}
.err{
	color: #e31313;
    font-weight: 900;
}
#btn_spv, #btn_spd{
	font-size: 0.9em;
}
#el_t{
	text-align: center;
}
.inp_hid{
	width:.1px;
	height:.1px;
	opacity:0;
	overflow:hidden;
	position:absolute;
	z-index:-1
}
@media (max-width: 510px){
	.men-btn {
		font-size: 0.9em;
	}
	.form_l{
		width: 97%;
	}
	.txt_s{
		font-size: 1.4em;
	}
	.f_s, .f_i, .f_d, .btn_s, .men_btn, .f_b, .t_s, .f_er, .ev{
		font-size: 0.70em;
	}
	#btn_spv, #btn_spd{
		font-size: 0.8em;
		padding: 0.3em 1em;
	}
	.f_s{
		width: 44%;
		padding-right: 0.3em;
	}
	.ap tr, .peer tr{
		font-size: 0.65em;
	}
	.ap th, .peer th{
		padding: 0.3em 0;
	}
	.ap td, .peer td{
		padding: 0.5em 0;
	}
	.pop{
		width: 99%;
		padding: 15px 2px;
	}
}
@media (max-width: 410px){
	.ap tr {
		font-size: 0.60em;
	}
	.cnt_t, .cnf_t {
		width: 60%;
	}
	.men-btn {
		font-size: 0.77em;
	}
}